
    <div class="custom">
        <div class="container">
            <div class="row d-flex justify-content-between align-items-center mt-5">
                <div class="col-md-6 p-3 ">
                    <h3 class="header-3">¿Problemas con el sistema de polizás?</h3>
                    <p class="body">Contacta con nuestros tecnicos en sistemas</p>
                </div>
                <div class="col-md-3">
                    <button mat-raised-button  color="primary">Contactar</button>
                </div>
            </div>
        
    </div>

    </div>

<div class="container">
    <div class="row mt-5 align-items-baseline justify-content-between">
        <div class="col-md-2">
            <h5 class="body-bold">Secura Insurance</h5>
            <p class="body">Sobre Nosotros</p>
            <p class="body">Grupo Secura</p>
            <p class="body">Blog</p>
        </div>
        <div class="col-md-2">
            <h5 class="body-bold">Legal</h5>
            <p class="body">Politica de privacidad</p>
            <p class="body">Cookies</p>
        </div>
        <div class="col-md-4">
            <h5 class="body-bold">Get in Touch</h5>
            <p class="body"> <span class="icon-Vector get"></span> (480) 555-0103</p>
            <p class="body"><span class="icon-map get"></span> Washington</p>
            <p class="body"><span class="icon-email get"></span> debra.holt@example.com</p>
        </div>
    </div>
</div>

    
    <div class="bottom mt-5">
        <div class="container">
            <div class="row d-flex align-items-center justify-content-between">
                <div class="col-md-6 p-3">
                    <h5 class="body-bold">Secura Insurance</h5>
                </div>
               
                <div class="col-md-3 d-flex justify-content-around">
                    <span class="icon-facebook"></span>
                    <span class="icon-insta"></span>
                    <span class="icon-tweet"></span>
                </div>
            </div>
            
        </div>
        
    </div>



