<div class="navbar">
    <div class="col-5">
        <div class="navbar-brand d-flex flex-row align-items-center">
            <a  routerLink="/"><img src="../../../assets/secura-insurance_logo 1.svg" alt=""></a>
            <hr class="linea">
            <a routerLink="/buscador" class="body title"> Buscador de polizas</a>
        </div>
        
    </div>
  
    
    
    <div class="col-2">
        <div class="d-flex align-items-center justify-content-around p-1 title">
            <img src="../../../assets/Ellipse 1.png" alt=""> Usuario <span class="icon-arrowBot"></span>
        </div>
    </div>
   
</div>

