//base
$secura-primary: #4B98D9;
$secura-primary-75:#6FA6D4;
$secura-primary-50: #9FC3E2;
$secura-primary-25:#CFE1F1;
//neutral
$grey-100: #353535;
$grey-75: #686868;
$grey-50:#9A9A9A;
$grey-25:#CDCDCD;
$grey-light:#FAFCFE;
//function
$success:#3BD378;
$error: #E75249;
//information
$secura-text:#191C3D;
$subtitle-text:#7579A0;
$accent:#D8DBF5;
$inverse-text:#F7F7FC;