@import 'src/assets/typestyle.scss';

.banner{
    background-image: url('./../../../assets/family.jpg');
    background-size: cover;
    height:50vh;
    width: 100%;
    color: white;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.h1{
    @include header-1;
}
.p{
    @include subtitle;
}