<div class="container my-5">
    <h2>Clientes potenciales</h2>
    <div class="row d-flex justify-content-between">
        

        <mat-card class="example-card m-3">
            <mat-card-header class="d-flex justify-content-between">
              <mat-card-title class="subtitle secura-primary"> <p class="subtitle">Nombre y Apellidos</p> </mat-card-title><button mat-icon-button color="warn" aria-label="Example icon button with a delete icon">
                <span class="icon-trash-alt"></span>
              </button>
              <mat-card-subtitle class="body secura-primary"><b>Producto a ofrecer</b>:seguro</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content></mat-card-content>
            <mat-card-actions class="d-flex justify-content-between align-items-end mt-4">
              <p class="body"><b>Email:</b>Email@.com</p>
              <p class="body"><b>Telefono:</b>Email@.com</p>
            </mat-card-actions>
          
          </mat-card>

          <mat-card class="example-card m-3">
            <mat-card-header class="d-flex justify-content-between">
              <mat-card-title class="subtitle secura-primary"> <p class="subtitle">Nombre y Apellidos</p> </mat-card-title><button mat-icon-button color="warn" aria-label="Example icon button with a delete icon">
                <span class="icon-trash-alt"></span>
              </button>
              <mat-card-subtitle class="body secura-primary"><b>Producto a ofrecer</b>:seguro</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content></mat-card-content>
            <mat-card-actions class="d-flex justify-content-between align-items-end mt-4">
              <p class="body"><b>Email:</b>Email@.com</p>
              <p class="body"><b>Telefono:</b>Email@.com</p>
            </mat-card-actions>
          
          </mat-card>

          <mat-card class="example-card m-3">
            <mat-card-header class="d-flex justify-content-between">
              <mat-card-title class="subtitle secura-primary"> <p class="subtitle">Nombre y Apellidos</p> </mat-card-title><button mat-icon-button color="warn" aria-label="Example icon button with a delete icon">
                <span class="icon-trash-alt"></span>
              </button>
              <mat-card-subtitle class="body secura-primary"><b>Producto a ofrecer</b>:seguro</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content></mat-card-content>
            <mat-card-actions class="d-flex justify-content-between align-items-end mt-4">
              <p class="body"><b>Email:</b>Email@.com</p>
              <p class="body"><b>Telefono:</b>Email@.com</p>
            </mat-card-actions>
          
          </mat-card>

    </div>
 
</div>
